@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("index\ image.jpg");
   height: 130vh;
   background-size: cover;
   background-position: center;
}